@import url("https://fonts.googleapis.com/css?family=Neuton:300,400,700|Open+Sans");
.tostory-card .tostory-background .tostory-background-overlay {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.5) 58%, rgba(0, 0, 0, 0.7)); }
.tostory-card .tostory-intersection-tag {
  position: absolute;
  left: 15px;
  top: 15px;
  display: inline-block;
  font-size: 10px;
  font-family: arial;
  text-transform: uppercase; }
  .tostory-card .tostory-intersection-tag .tostory-intersection {
    background: #fafafa;
    color: #333;
    border-radius: 2px;
    padding: 1px 5px;
    display: inline-block; }
    .tostory-card .tostory-intersection-tag .tostory-intersection .tostory-sub-intersection {
      background: red;
      color: white;
      padding: 3px 5px;
      display: inline-block;
      border-radius: 2px;
      margin-right: -4px;
      margin-left: 3px; }
  .tostory-card .tostory-intersection-tag .tostory-extra-tag {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: inline-block;
    font-family: arial;
    padding: 3px 4px;
    border-radius: 2px;
    font-style: italic; }
.tostory-card .tostory-context {
  position: absolute;
  display: inline-block;
  padding: 15px;
  box-sizing: border-box;
  bottom: 0px;
  width: 100%; }
  .tostory-card .tostory-context .tostory-title {
    display: inline-block; }
    .tostory-card .tostory-context .tostory-title h1 {
      font-size: 2.5rem;
      color: white;
      font-weight: 400;
      letter-spacing: 0.1rem;
      font-family: 'Neuton', serif;
      line-height: 2.5rem; }
  .tostory-card .tostory-context .tostory-summary p {
    color: white;
    font-size: 1rem;
    width: 100%;
    margin-top: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px; }
  .tostory-card .tostory-context .tostory-byline {
    display: inline-block;
    float: left;
    margin-right: 10px; }
    .tostory-card .tostory-context .tostory-byline .tostory-byline-image {
      height: 40px;
      width: 40px;
      overflow: hidden;
      border-radius: 50px;
      display: inline-block;
      float: left;
      margin-right: 10px; }
      .tostory-card .tostory-context .tostory-byline .tostory-byline-image img {
        width: 100%; }
    .tostory-card .tostory-context .tostory-byline .tostory-byline-name {
      font-size: 0.7rem;
      color: white;
      display: inline-block;
      float: left;
      margin-top: 11px;
      font-family: 'Open Sans', sans-serif; }
  .tostory-card .tostory-context .tostory-timeline {
    display: inline-block;
    font-size: 0.7rem;
    color: white;
    float: left;
    margin-top: 11px;
    font-family: 'Open Sans', sans-serif;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 10px; }

.pro-col-16 .pro-row-1 .tostory-card .tostory-background {
  display: none; }
  .pro-col-16 .pro-row-1 .tostory-card .tostory-background .tostory-background-overlay {
    display: block; }
.pro-col-16 .pro-row-1 .tostory-card .tostory-intersection-tag {
  display: none; }
.pro-col-16 .pro-row-1 .tostory-card .tostory-context {
  position: relative;
  display: inline-block;
  padding: 0px;
  padding-right: 0px;
  box-sizing: border-box;
  float: left;
  width: 90%; }
  .pro-col-16 .pro-row-1 .tostory-card .tostory-context .tostory-title {
    display: inline-block; }
    .pro-col-16 .pro-row-1 .tostory-card .tostory-context .tostory-title h1 {
      font-size: 1.3rem;
      color: #333;
      letter-spacing: 0.05rem;
      line-height: 2rem; }
  .pro-col-16 .pro-row-1 .tostory-card .tostory-context .tostory-summary p {
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    font-size: 0.8rem; }
  .pro-col-16 .pro-row-1 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-16 .pro-row-1 .tostory-card .tostory-context .tostory-timeline {
    display: none; }
.pro-col-16 .pro-row-3 .tostory-card .tostory-context {
  padding: 0px 15px;
  bottom: 15px;
  width: auto; }
  .pro-col-16 .pro-row-3 .tostory-card .tostory-context .tostory-title h1 {
    font-weight: 400;
    letter-spacing: 0.05rem; }
.pro-col-16 .pro-row-5.block-background-row .tostory-card .tostory-context {
  padding: 0px 15px;
  bottom: 0px;
  top: 0px;
  width: auto; }
  .pro-col-16 .pro-row-5.block-background-row .tostory-card .tostory-context .tostory-title h1 {
    color: #333;
    font-weight: 400;
    letter-spacing: 0.05rem; }
  .pro-col-16 .pro-row-5.block-background-row .tostory-card .tostory-context .tostory-summary p {
    color: rgba(0, 0, 0, 0.7); }
  .pro-col-16 .pro-row-5.block-background-row .tostory-card .tostory-context .tostory-byline .tostory-byline-name {
    color: rgba(0, 0, 0, 0.7); }
  .pro-col-16 .pro-row-5.block-background-row .tostory-card .tostory-context .tostory-timeline {
    color: rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(0, 0, 0, 0.3); }

.pro-col-7 .pro-row-1 .tostory-card .tostory-background {
  display: none; }
  .pro-col-7 .pro-row-1 .tostory-card .tostory-background .tostory-background-overlay {
    display: none; }
.pro-col-7 .pro-row-1 .tostory-card .tostory-intersection-tag {
  display: none; }
.pro-col-7 .pro-row-1 .tostory-card .tostory-context {
  position: relative;
  padding: 0px;
  padding-right: 0px;
  width: 78%; }
  .pro-col-7 .pro-row-1 .tostory-card .tostory-context .tostory-title {
    display: inline-block; }
    .pro-col-7 .pro-row-1 .tostory-card .tostory-context .tostory-title h1 {
      font-size: 1.3rem;
      color: #333;
      letter-spacing: 0.05rem;
      line-height: 1.4rem; }
  .pro-col-7 .pro-row-1 .tostory-card .tostory-context .tostory-summary p {
    display: none; }
  .pro-col-7 .pro-row-1 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-7 .pro-row-1 .tostory-card .tostory-context .tostory-timeline {
    display: none; }
.pro-col-7 .pro-row-3 .tostory-card .tostory-context .tostory-title h1 {
  font-size: 1.8rem;
  line-height: 2rem; }
.pro-col-7 .pro-row-3 .tostory-card .tostory-context .tostory-summary p {
  display: none; }
.pro-col-7 .pro-row-3 .tostory-card .tostory-context .tostory-byline {
  display: none; }
.pro-col-7 .pro-row-3 .tostory-card .tostory-context .tostory-timeline {
  display: none; }
.pro-col-7 .pro-row-5 .full-background img {
  height: 430px;
  width: auto;
 }
.pro-col-7 .pro-row-5 .tostory-card .tostory-context {
  left: 0px;
  padding: 10px;
  position: absolute; }
  .pro-col-7 .pro-row-5 .tostory-card .tostory-context .tostory-title h1 {
    font-size: 1.8rem;
    line-height: 2rem; }
  .pro-col-7 .pro-row-5 .tostory-card .tostory-context .tostory-summary p {
    font-size: 0.8rem; }

.pro-col-4 .pro-row-1 .tostory-card .tostory-background {
  display: none; }
.pro-col-4 .pro-row-1 .tostory-card .tostory-intersection-tag {
  display: none; }
.pro-col-4 .pro-row-1 .tostory-card .tostory-context {
  position: relative;
  padding: 0px;
  width: 100%;
  padding-right: 0px; }
  .pro-col-4 .pro-row-1 .tostory-card .tostory-context .tostory-title {
    display: inline-block; }
    .pro-col-4 .pro-row-1 .tostory-card .tostory-context .tostory-title h1 {
      font-size: 1.3rem;
      color: #333;
      letter-spacing: 0.05rem;
      line-height: 1.4rem; }
  .pro-col-4 .pro-row-1 .tostory-card .tostory-context .tostory-summary p {
    display: none; }
  .pro-col-4 .pro-row-1 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-4 .pro-row-1 .tostory-card .tostory-context .tostory-timeline {
    display: none; }
.pro-col-4 .pro-row-3 .full-background img {
  height: 250px;
  width: auto; }
.pro-col-4 .pro-row-3 .tostory-card .tostory-context {
  left: 0px;
  padding: 10px;
  position: absolute; }
  .pro-col-4 .pro-row-3 .tostory-card .tostory-context .tostory-title h1 {
    font-size: 1.3rem;
    line-height: 1.4rem; }
  .pro-col-4 .pro-row-3 .tostory-card .tostory-context .tostory-summary p {
    display: none; }
  .pro-col-4 .pro-row-3 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-4 .pro-row-3 .tostory-card .tostory-context .tostory-timeline {
    display: none; }
.pro-col-4 .pro-row-5 .full-background img {
  height: 430px;
  width: auto; }
.pro-col-4 .pro-row-5 .tostory-card .tostory-context {
  left: 0px;
  padding: 10px;
  position: absolute; }
  .pro-col-4 .pro-row-5 .tostory-card .tostory-context .tostory-title h1 {
    font-size: 1.8rem;
    line-height: 2rem; }
  .pro-col-4 .pro-row-5 .tostory-card .tostory-context .tostory-summary p {
    font-size: 0.8rem;
    margin-bottom: 0px; }
  .pro-col-4 .pro-row-5 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-4 .pro-row-5 .tostory-card .tostory-context .tostory-timeline {
    display: none; }

.pro-col-3 .pro-row-1 .tostory-card .tostory-background {
  display: none; }
.pro-col-3 .pro-row-1 .tostory-card .tostory-intersection-tag {
  display: none; }
.pro-col-3 .pro-row-1 .tostory-card .tostory-context {
  position: relative;
  padding: 0px;
  width: 100%;
  padding-right: 0px; }
  .pro-col-3 .pro-row-1 .tostory-card .tostory-context .tostory-title {
    display: inline-block; }
    .pro-col-3 .pro-row-1 .tostory-card .tostory-context .tostory-title h1 {
      font-size: 1.3rem;
      color: #333;
      letter-spacing: 0.05rem;
      line-height: 1.4rem; }
  .pro-col-3 .pro-row-1 .tostory-card .tostory-context .tostory-summary p {
    display: none; }
  .pro-col-3 .pro-row-1 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-3 .pro-row-1 .tostory-card .tostory-context .tostory-timeline {
    display: none; }
.pro-col-3 .pro-row-3 .full-background img {
  height: 250px;
  width: auto; }
.pro-col-3 .pro-row-3 .tostory-card .tostory-context {
  left: 0px;
  padding: 10px;
  position: absolute; }
  .pro-col-3 .pro-row-3 .tostory-card .tostory-context .tostory-title h1 {
    font-size: 1.3rem;
    line-height: 1.4rem; }
  .pro-col-3 .pro-row-3 .tostory-card .tostory-context .tostory-summary p {
    display: none; }
  .pro-col-3 .pro-row-3 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-3 .pro-row-3 .tostory-card .tostory-context .tostory-timeline {
    display: none; }
.pro-col-3 .pro-row-5 .full-background img {
  height: 430px;
  width: auto; }
.pro-col-3 .pro-row-5 .tostory-card .tostory-context {
  left: 0px;
  padding: 10px;
  position: absolute; }
  .pro-col-3 .pro-row-5 .tostory-card .tostory-context .tostory-title h1 {
    font-size: 1.8rem;
    line-height: 2rem; }
  .pro-col-3 .pro-row-5 .tostory-card .tostory-context .tostory-summary p {
    font-size: 0.8rem;
    margin-bottom: 0px; }
  .pro-col-3 .pro-row-5 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-3 .pro-row-5 .tostory-card .tostory-context .tostory-timeline {
    display: none; }

.pro-col-2 .pro-row-1 .tostory-card .tostory-background {
  display: none; }
.pro-col-2 .pro-row-1 .tostory-card .tostory-intersection-tag {
  display: none; }
.pro-col-2 .pro-row-1 .tostory-card .tostory-context {
  position: relative;
  padding: 0px;
  width: 100%;
  padding-right: 0px; }
  .pro-col-2 .pro-row-1 .tostory-card .tostory-context .tostory-title {
    display: inline-block; }
    .pro-col-2 .pro-row-1 .tostory-card .tostory-context .tostory-title h1 {
      font-size: 1.3rem;
      color: #333;
      letter-spacing: 0.05rem;
      line-height: 1.4rem; }
  .pro-col-2 .pro-row-1 .tostory-card .tostory-context .tostory-summary p {
    display: none; }
  .pro-col-2 .pro-row-1 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-2 .pro-row-1 .tostory-card .tostory-context .tostory-timeline {
    display: none; }
.pro-col-2 .pro-row-3 .full-background {
  display: none; }
  .pro-col-2 .pro-row-3 .full-background .tostory-background-overlay {
    display: none; }
.pro-col-2 .pro-row-3 .tostory-card .tostory-intersection-tag {
  display: none; }
.pro-col-2 .pro-row-3 .tostory-card .tostory-context {
  left: 0px;
  background: white;
  padding: 0px;
  position: relative; }
  .pro-col-2 .pro-row-3 .tostory-card .tostory-context .tostory-title h1 {
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: #333; }
  .pro-col-2 .pro-row-3 .tostory-card .tostory-context .tostory-summary p {
    display: none; }
  .pro-col-2 .pro-row-3 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-2 .pro-row-3 .tostory-card .tostory-context .tostory-timeline {
    display: none; }
.pro-col-2 .pro-row-5 .full-background {
  display: none; }
  .pro-col-2 .pro-row-5 .full-background .tostory-background-overlay {
    display: none; }
.pro-col-2 .pro-row-5 .tostory-card .tostory-intersection-tag {
  display: none; }
.pro-col-2 .pro-row-5 .tostory-card .tostory-context {
  left: 0px;
  background: white;
  padding: 0px;
  position: relative; }
  .pro-col-2 .pro-row-5 .tostory-card .tostory-context .tostory-title h1 {
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: #333; }
  .pro-col-2 .pro-row-5 .tostory-card .tostory-context .tostory-summary p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem; }
  .pro-col-2 .pro-row-5 .tostory-card .tostory-context .tostory-byline {
    display: none; }
  .pro-col-2 .pro-row-5 .tostory-card .tostory-context .tostory-timeline {
    display: none; }

/*# sourceMappingURL=tostory.css.map */
.proto-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.proto-navbar {
  padding: 5px 0px;
  border-bottom: 1px solid #efefef;
  background: white;
}

.proto-navbar .round-image {
  height: 45px;
  width: 45px;
  overflow: hidden;
  border-radius: 50px;
}

.form-layout .proto-card-form {
  padding-top: 15px;
}

.form-layout .proto-card-preview {
  height: 100vh;
  padding-top: 15px;
}

.default-button {
  border: 1px solid #c5c5c5;
  display: inline-block;
  padding: 2px;
  border-radius: 4px;
}

.default-button i.icon,
.default-button i.icons {
  color: #969696;
  font-size: 1.5em;
}

.section-title-text {
  font-size: 1.5em;
  padding: 0px;
  padding-bottom: 15px;
  font-weight: bold;
  display: inline-block;
}

.proto-pull-right {
  float: right;
}

.protograph-menu-container {
  text-align: center;
  margin-bottom: 15px;
}

.protograph-disable {
  pointer-events: none;
  cursor: default;
}

.protograph-scroll-form {
  overflow: auto;
  height: 100vh;
}

.ui.styled.fluid.accordion:empty {
  display: none;
}

#protograph_embed_editQuiz {
  position: relative;
}

.protograph-toQuiz-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.6;
  /*pointer-events: none;*/
}

.protograph-toQuiz-rerender-quiz {
  display: none !important;
  z-index: 1050 !important;
  position: absolute;
  top: 50%;
  left: 45%;
  pointer-events: all;
  animation: jiggle 2s infinite ease-in;
}

.protograph-toQuiz-no-pointerEvents {
  pointer-events: none;
}

.protograph-toQuiz-overlay.active,
.protograph-toQuiz-rerender-quiz.active {
  display: block !important;
}

.protograph-loader-container {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.list-inline {
  padding-left: 0;
}

.list-inline > li {
  list-style: none;
}

.btn.btn-info.btn-now, .btn.btn-warning.btn-clear {
  display: none;
}

.protograph-imagebank-button {
  float: right;
  display: none;
}
.protograph-new-image {
  display: none;
}
.image-url-container {
  display: none;
}
.protograph-disabled-button {
  pointer-events: none;
  opacity: 0.4;
}
.protograph-app-holder {
  display: table;
  margin: 40px auto;
}
/*# sourceMappingURL=master-style.css.map */
.pro-container {
  width: 1260px;
  margin-left: auto;
  margin-right: auto; }

.pro-col {
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.pro-container .pro-col:first-child {
  margin-left: 0px; }
.pro-container .pro-col:last-child {
  margin-right: 0px; }

.pro-col-2 {
  width: 140px; }

.pro-col-3 {
  width: 220px; }

.pro-col-4 {
  width: 300px; }

.pro-col-7 {
  width: 540px; }

.pro-col-16 {
  width: 1260px; }

.pro-card {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden; }

.pro-row-1 .pro-card {
  height: 70px; }

.pro-row-3 .pro-card {
  height: 250px; }

.pro-row-5 .pro-card {
  height: 430px; }

.pro-row-5 .full-background {
  display: inline-block; }
  .pro-row-5 .full-background img {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%; }
.pro-row-5 .block-background {
  display: inline-block; }
  .pro-row-5 .block-background img {
    height: 430px; }
  .pro-row-5 .block-background .tostory-background-overlay {
    display: none; }
.pro-row-5 .top-block-background {
  display: inline-block; }
  .pro-row-5 .top-block-background img {
    height: auto;
    width: 100%; }
  .pro-row-5 .top-block-background .tostory-background-overlay {
    display: none; }

.pro-row-3 .full-background {
  display: inline-block; }
  .pro-row-3 .full-background img {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%; }
.pro-row-3 .block-background {
  display: inline-block; }
  .pro-row-3 .block-background img {
    height: 250px; }
  .pro-row-3 .block-background .tostory-background-overlay {
    display: none; }
.pro-row-3 .top-block-background {
  display: inline-block; }
  .pro-row-3 .top-block-background img {
    height: auto;
    width: 100%; }
  .pro-row-3 .top-block-background .tostory-background-overlay {
    display: none !important; }

.pro-row-1 .full-background {
  display: inline-block; }
  .pro-row-1 .full-background img {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%; }
.pro-row-1 .block-background {
  display: inline-block; }
  .pro-row-1 .block-background img {
    height: 70px; }
  .pro-row-1 .block-background .tostory-background-overlay {
    display: none; }
.pro-row-1 .top-block-background {
  display: inline-block; }
  .pro-row-1 .top-block-background img {
    height: auto;
    width: 100%; }
  .pro-row-1 .top-block-background .tostory-background-overlay {
    display: none; }

/*# sourceMappingURL=layout.css.map */
.full-background img{
  cursor: pointer;
}   